@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'Inter', sans-serif;

}
.navbar{
    background-color: rgba(245, 0, 0, 0.8);
    box-shadow: 7px 10px 24px 0px rgba(255, 71, 31, 0.22);
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-around;
    
    
    gap: 20px;
   

}
.navbar a{
    text-decoration: none;
    color: white;
}
.kfc{
    /* border: 1px solid black; */

    width: 40%;
}
.left-items{
    display: flex;
    align-items: center;
    font-size: 17px;
    gap: 80px;
    justify-content: space-evenly;
}
.right-items{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}
.rimg1 img{
    width: 63px;
    margin-top: 4px;
    
    height: 63px;
}
.nav1{

    margin-top: 10px;
}
.rimg2{
    border-radius: 100%;
    box-shadow: 0px 2.5px 0.5px  #202329;
}

.findusbackground{
   
    background: #fff;
    box-shadow: 7px 10px 24px 0px rgba(255, 71, 31, 0.22);
    height: 1327px;
    position: relative;
    width: 100%;
    
}
.findusbackground .heading{
    color: rgba(245, 0, 0, 0.8);
display: flex;
justify-content: left;
padding-left: 430px;

font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 151px;

}

.locationone{
    position: absolute;
    width: 400px;
height: 420px;
flex-shrink: 0;
top: 345px;
left: 50px;
border-radius: 12px;
background-color: rgba(245, 0, 0, 0.8);
box-shadow: 7px 10px 24px 0px rgba(255, 71, 31, 0.22);


}
.locationtwo{
    position: absolute;
    width: 400px;
height: 420px;
flex-shrink: 0;
top: 345px;
left: 480px;


border-radius: 12px;
background-color: rgba(245, 0, 0, 0.8);
box-shadow: 7px 10px 24px 0px rgba(255, 71, 31, 0.22);

}
.locationthird{
    position: absolute;
    width: 400px;
height: 420px;
flex-shrink: 0;
top: 345px;
left: 912px;


border-radius: 12px;
background-color: rgba(245, 0, 0, 0.8);
box-shadow: 7px 10px 24px 0px rgba(255, 71, 31, 0.22);

}
.locationthird #head{
    color: #FFF;
    
    
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 38px;
    display: flex;
    justify-content: left;
    padding-left:25px ;
}
 .head{
    color: #FFF;
text-align: center;

font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 38px;
display: flex;
justify-content: left;
padding-left:25px ;
}
.phonenum{
   color: #FFF;

display: flex;
justify-content: center;
justify-content: left;

gap: 10px;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 30px;
padding-left: 22px;

}
.locicon{
    color: #FFF;
    gap: 10px;
    display: flex;
    justify-content: center;
    justify-content: left;

    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 22px;
    margin-top: 40px;
    /* padding-top: 55px; */
}
.address{
    color: #FFF;
    text-align: center;
    
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    
}
.hebackground{
    background-color: white;
}
.findus4{
    position: absolute;
    background: rgba(245, 0, 0, 0.8);
    box-shadow: 7px 10px 24px 0px rgba(255, 71, 31, 0.22);
    border-radius: 12px;
   width: 500px;
    height: 156px;
    top: 900px;
    left: 50px;

}
.findus4 .head{
    color: #FFF;
text-align: center;

font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 30px;
display: flex;
justify-content: left;
padding-left:25px ;
}
.findus5{
    position: absolute;
    background: rgba(245, 0, 0, 0.8);
    box-shadow: 7px 10px 24px 0px rgba(255, 71, 31, 0.22);
    border-radius: 12px;
   width: 500px;
    height: 156px;
    top: 900px;
    left: 600px;
}
.findus5 .head{
    color: #FFF;
text-align: center;

font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 30px;
display: flex;
justify-content: left;
padding-left:25px ;
}
/* footernav */
.footernav{
    height: 12vh;
    background-color: rgba(245, 0, 0, 0.8);
}
.fobj{
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    width: 94%;
    height: 12vh;
    color: white;
}
.fn1{
    /* border: 1px solid black; */
    width: 22%;
    margin-left: 135px;
}
.fn2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    gap: 15px;
    width: 20%;
}
.fn2 img{
    
    width: 35px;
    height: 35px;
}
.fn2 p,
.fn3 p{
    font-size: 20px;
}
.fn3{
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    gap: 15px;
    margin-left: 87px;
}
.fn3 img{
    
    width: 30px;
    height: 30px;
} 
.fn4{
    margin-left: 100px;
    display: flex;
    align-items: center;
    gap: 51px;
    /* border: 1px solid black; */
    width: 20%;
}
/* End of footernav */






/* Footer */
.footer{
    background-color: #202329;
    height: 450px;
}
.footermain{
    position: absolute;
    display: flex;
    margin-top: 40px;
    /* border: 1px solid white; */
    width: 51%;
    justify-content: space-between;
    margin-left: 80px;
}
.footermain p{
    font-size: 15px;
    color: #D9DBE1;
}
.pfont p{
    font-size: 25px;
    color: white;
}
.footer-container{
   position: relative;
}
.footer-input{
    padding: 10px;
    font-size: 16px;
    background-color: #544b4f;
    border: 1px solid #202329;
    border-radius: 5px;
    padding-right: 40px;
}
.submit-image{
    position: absolute;
    top: 25%;
    right: 10px;
    cursor: pointer;
}
.footer-input::placeholder {
    color: white;
}
.fkfc{
    display: flex;
    justify-content: end;
}
.fkfc img{
    margin-top: 14px;
    height: 400px;
    position: absolute;
    
}
.footerend{
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* border: 1px solid black; */
    width: 85%;
    margin-left: 80px;
    height: 422px;
}
.footerend p{
    color: #D9DBE1;
    font-size: 18px;
}
.pfont{
    gap: 24px;
}
.fcont{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
/* End of Footer */